
@{
    ViewBag.Title = "AnalyzeCovidReport";
}

<h3 style="text-emphasis-color : green; text-align: center">Analyze covid report based on thresholds.</h3>

<br />
<html>
<body>
    <div style="text-align:center">
        <img src="CovidReportAnalysis.jpg" alt="Interpret Covid Report">
    </div>
</body>
</html>



